<div class="container">

 
  <div class="row">
   
      
        <div class="col-lg-3" *ngFor="let products of listProducts">
  <div class="card w-100">
    <img src="{{ products.img }}" alt="" class="w-100" />
    <div class="card-body">
      <div class="card-text">
        <div class="font-weight-bold">{{ products.name }}</div>
        <div class="font-weight-light">{{ products.brand }}</div>
        <div class="font-italic">{{ products.category }}</div>
      </div>
    </div>
 

</div>
      </div>
    
  </div>
</div>
